.tableTextfeild {
  text-align: right;
  /* font-weight: 600; */
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.grdDetails {
  width: 100%;
  margin: 10px;
  height: 40px;
  color: #525252;
  font-size: 12px;
  /* font-weight: bold; */
  border: solid 1px #d3dce5;
  background-color: #f3f7f8;
  width: 300px;
  border-collapse: collapse;
  outline: medium none;
}

.grdDetails .grdHeader {
  height: 40px;
  color: #525252;
  font-weight: bold;
  background-color: #ecebeb;
  border: 1px #525252;
}

.grdDetails .grdItemStyle {
  background-color: #fff;
  border: 1px #525252;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.tableHead {
  border-width: 0px;
  border-style: None;
  height: 86px;
  width: 98%;
  border-collapse: collapse;

  width: 100%;
  margin: 10px;
  border: solid 1px #484848;
  border-collapse: collapse;
  font-family: Arial, verdana, Tahoma;
  font-size: 10px;
  outline: medium none;
  border-left-color: #e4e4e4 !important;
  border-right-color: #e4e4e4 !important;
}

.trHead {
  height: 30px;
  font-weight: bold;
  background-color: #94c5f7;
  font-size: 13px;
  border: 1px solid #94c5f7;
}

.tableHead .trHead {
  /* background-color: #FFFFFF; */
  white-space: pre;
  border: 1px solid #94c5f7 !important;
}

/* styles.css */
.customCheckbox {
  appearance: none;
  width: 13px;
  height: 13px;
  cursor: pointer;
  vertical-align: bottom;
  background: white;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  position: relative;
  outline: none;
  margin-right: 2px;
}

.customCheckbox:focus {
  border: 1px solid #e99326;
  border-radius: 3px;
}

.customCheckbox:checked::after {
  content: url(../../../../assets/checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
}

.customUserCollectionDateBox {
  display: flex;
  flex-direction: column;
  /* width: 652px; */
  height: 75px;
  justify-content: space-evenly;
}
.customUserCollectionBoxFrom {
  display: flex;
  align-items: center;
}
.customUserCollectionDatePicker {
  width: 214px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #898a8b;
  font-size: 12px;
  padding: 3px;
  outline: medium none;
  border-radius: 3px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.customUserCollectionDatePickerReduceLength {
  width: 135px;
}
.customUserCollectionLabel {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 12px;
  color: #000;
  padding-right: 5px;
}

.customUserCollectionLabelPaddingCorrection {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 12px;
  color: #000;
}

.coll-TableHeaderCell {
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: #94c5f7;
  border: 1px solid #4b88c6;
  font-family: Arial, verdana, Tahoma;
}

.coll-TableBodyRow {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #4b88c6;
  font-family: Arial, verdana, Tahoma;
}
.coll-TableBodyCell {
  font-size: 12px;
  text-align: center;
  padding: 0px;
  border: 1px solid #4b88c6;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.coll-TextAlignRight {
  text-align: right;
}

.coll-TextAlignLeft {
  text-align: left;
}

.coll-CenterdCell {
  text-align: center;
  padding-inline: 4px;
}

.coll-SectionTotalRow {
  color: #000;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #4b88c6;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.coll-LargeFont {
  font-size: 11px;
}

.coll-Footer {
  display: flex;
  flex: 1;
  min-height: 48px;
  border-top: 1px solid #5c5c5c;
  justify-content: space-between;
  font-family: Verdana, Geneva, sans-serif;
}

.coll-FooterLeftTxt {
  display: flex;
  font-size: 12px;
  color: #999;
  padding-left: 20px;
  padding-top: 4px;
}

.coll-FooterCenterTxt {
  display: flex;
  font-size: 12px;
  color: #999;
  padding-left: 20px;
  padding-top: 4px;
}

.coll-FooterRightTxt {
  font-size: 12px;
  color: #000eee;
  padding-right: 100px;
  padding-top: 4px;
  flex-direction: row;
}

.coll-FooterCmpName {
  text-decoration: none;
  font-size: 12px;
  color: #808080;
  padding-left: 2px;
  font-weight: bold;
}

.customScrollBar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background-color: #ffffff;
}
.customScrollBar::-webkit-scrollbar-track {
  background: #999999a6;
}
.customScrollBar::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 6px;
  border: 1px solid #f3f3f3;
}
